.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 18px;
  margin-left: 18px;
}

.avatar {
  margin-right: 16px;
}

.form {
  width: 100%;

  button {
    margin-top: 10px;
  }
}
