.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #efefef;
  margin: 48px auto;
}
.field {
  margin-bottom: 20px !important;
}
.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}
